In [85]:
import pandas as pd 
import seaborn as sns
import numpy as np 
#from sklearn.datasets import load_boston # removed from python 1.2

In [86]:
df = pd.read_csv("AmesHousing.csv")

In [87]:
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [88]:
df.shape

(2930, 82)

In [89]:
# performing EDA -> Exploratory data analysis

In [90]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [91]:
null_percentage = (df.isnull().sum()/len(df))*100

In [92]:
null_percentage

Order              0.000000
PID                0.000000
MS SubClass        0.000000
MS Zoning          0.000000
Lot Frontage      16.723549
                    ...
Mo Sold            0.000000
Yr Sold            0.000000
Sale Type          0.000000
Sale Condition     0.000000
SalePrice          0.000000
Length: 82, dtype: float64

In [93]:
# displaying only null valued coulmns
null_percentage= null_percentage[null_percentage>0]
null_percentage

Lot Frontage      16.723549
Alley             93.242321
Mas Vnr Type      60.580205
Mas Vnr Area       0.784983
Bsmt Qual          2.730375
Bsmt Cond          2.730375
Bsmt Exposure      2.832765
BsmtFin Type 1     2.730375
BsmtFin SF 1       0.034130
BsmtFin Type 2     2.764505
BsmtFin SF 2       0.034130
Bsmt Unf SF        0.034130
Total Bsmt SF      0.034130
Electrical         0.034130
Bsmt Full Bath     0.068259
Bsmt Half Bath     0.068259
Fireplace Qu      48.532423
Garage Type        5.358362
Garage Yr Blt      5.426621
Garage Finish      5.426621
Garage Cars        0.034130
Garage Area        0.034130
Garage Qual        5.426621
Garage Cond        5.426621
Pool QC           99.556314
Fence             80.477816
Misc Feature      96.382253
dtype: float64

# as the columns such as :
- Alley , Mas Vnr Type, Pool Qc, Fence, Misc Feature 
all these has greater number of missing values therefore drop these values based on how much missing values u can handle

In [94]:
threshold = 30 # here 30 is percentage 
columns_to_drop = null_percentage[null_percentage>threshold].index 
columns_to_drop

Index(['Alley', 'Mas Vnr Type', 'Fireplace Qu', 'Pool QC', 'Fence',
       'Misc Feature'],
      dtype='object')

In [95]:
# drop columns
df_cleaned = df.drop(columns=columns_to_drop)

In [96]:
print(df_cleaned)

      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0         1  526301100           20        RL         141.0     31770   Pave
1         2  526350040           20        RH          80.0     11622   Pave
2         3  526351010           20        RL          81.0     14267   Pave
3         4  526353030           20        RL          93.0     11160   Pave
4         5  527105010           60        RL          74.0     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2925   2926  923275080           80        RL          37.0      7937   Pave
2926   2927  923276100           20        RL           NaN      8885   Pave
2927   2928  923400125           85        RL          62.0     10441   Pave
2928   2929  924100070           20        RL          77.0     10010   Pave
2929   2930  924151050           60        RL          74.0      9627   Pave

     Lot Shape Land Contour Utilities  ... Enclosed Porch 3Ssn Porch  \
0          IR1          Lvl    AllPub  ...              0          0
1          Reg          Lvl    AllPub  ...              0          0
2          IR1          Lvl    AllPub  ...              0          0
3          Reg          Lvl    AllPub  ...              0          0
4          IR1          Lvl    AllPub  ...              0          0
...        ...          ...       ...  ...            ...        ...
2925       IR1          Lvl    AllPub  ...              0          0
2926       IR1          Low    AllPub  ...              0          0
2927       Reg          Lvl    AllPub  ...              0          0
2928       Reg          Lvl    AllPub  ...              0          0
2929       Reg          Lvl    AllPub  ...              0          0

     Screen Porch Pool Area Misc Val Mo Sold Yr Sold  Sale Type  \
0               0         0        0       5    2010        WD
1             120         0        0       6    2010        WD
2               0         0    12500       6    2010        WD
3               0         0        0       4    2010        WD
4               0         0        0       3    2010        WD
...           ...       ...      ...     ...     ...        ...
2925            0         0        0       3    2006        WD
2926            0         0        0       6    2006        WD
2927            0         0      700       7    2006        WD
2928            0         0        0       4    2006        WD
2929            0         0        0      11    2006        WD

      Sale Condition  SalePrice
0             Normal     215000
1             Normal     105000
2             Normal     172000
3             Normal     244000
4             Normal     189900
...              ...        ...
2925          Normal     142500
2926          Normal     131000
2927          Normal     132000
2928          Normal     170000
2929          Normal     188000

[2930 rows x 76 columns]

In [97]:
df_cleaned.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 76, dtype: int64

In [98]:
(df_cleaned.isnull().sum()/len(df_cleaned))*100

Order              0.000000
PID                0.000000
MS SubClass        0.000000
MS Zoning          0.000000
Lot Frontage      16.723549
                    ...
Mo Sold            0.000000
Yr Sold            0.000000
Sale Type          0.000000
Sale Condition     0.000000
SalePrice          0.000000
Length: 76, dtype: float64

In [99]:
# identify numerical and categorical columns
numerical_columns=df_cleaned.select_dtypes(include=['Float64','int64']).columns
numerical_columns

Index(['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd',
       'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')

In [100]:
catagorical_columns=df_cleaned.select_dtypes(include=['object','category']).columns
catagorical_columns

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond',
       'Paved Drive', 'Sale Type', 'Sale Condition'],
      dtype='object')

filling null values

In [101]:
# filling numerical columns
for col in numerical_columns:
    df_cleaned[col].fillna(df_cleaned[col].mean(),inplace=True)

In [102]:
# fillinf catagorical columns with most frequent value
for col in catagorical_columns:
    df_cleaned[col].fillna(df_cleaned[col].mode()[0],inplace=True)

In [103]:
df_cleaned

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.00000,31770,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.00000,11622,Pave,Reg,Lvl,AllPub,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.00000,14267,Pave,IR1,Lvl,AllPub,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.00000,11160,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.00000,13830,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.00000,7937,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,69.22459,8885,Pave,IR1,Low,AllPub,...,0,0,0,0,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.00000,10441,Pave,Reg,Lvl,AllPub,...,0,0,0,0,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.00000,10010,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.00000,9627,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,11,2006,WD,Normal,188000

In [104]:
# importing library 
from sklearn.model_selection import train_test_split

In [105]:
X= df_cleaned.drop('SalePrice',axis=1)
Y=df_cleaned['SalePrice']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=54)

In [106]:

catagorical_columns

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond',
       'Paved Drive', 'Sale Type', 'Sale Condition'],
      dtype='object')

In [107]:
# As the categorical columns have order in some of them therefore according to them apply one hot encoding or ordinal encoding

In [108]:
# using column transformer 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

ordinal_columns = [
    'Lot Shape', 'Utilities', 'Land Slope', 'Exter Qual', 'Exter Cond',
    'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'Heating QC', 'Kitchen Qual',
    'Functional', 'Garage Finish', 'Garage Qual', 'Garage Cond', 'Paved Drive'
]
# Define the order of categories for each column
category_order = [
    ['Reg', 'IR1', 'IR2', 'IR3'],  # Lot Shape
    ['AllPub', 'NoSewr', 'NoSeWa'],  # Utilities
    ['Gtl', 'Mod', 'Sev'],  # Land Slope
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Exter Qual
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Exter Cond
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Bsmt Qual
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Bsmt Cond
    ['Gd', 'Av', 'Mn', 'No'],  # Bsmt Exposure
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Heating QC
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Kitchen Qual
    ['Typ', 'Min1', 'Min2', 'Mod', 'Maj1', 'Maj2', 'Sev', 'Sal'],  # Functional
    ['Fin', 'RFn', 'Unf'],  # Garage Finish
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Garage Qual
    ['Ex', 'Gd', 'TA', 'Fa', 'Po'],  # Garage Cond
    ['Y', 'P', 'N']  # Paved Drive
]

onehot_columns = [
    'MS Zoning', 'Street', 'Land Contour', 'Lot Config', 'Neighborhood',
    'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
    'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Foundation', 'BsmtFin Type 1',
    'BsmtFin Type 2', 'Heating', 'Electrical', 'Garage Type', 'Sale Type',
    'Sale Condition'
]
transformer = ColumnTransformer(transformers=[('tnf1',OrdinalEncoder(categories=category_order),ordinal_columns),
                                             ('tnf2',OneHotEncoder(sparse=False,handle_unknown='ignore'),onehot_columns)],remainder='passthrough')

In [109]:
X_train_transformed = transformer.fit_transform(X_train)

c:\Users\ACER\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [110]:
X_test_trained = transformer.transform(X_test)

In [113]:
from sklearn.preprocessing import StandardScaler   # to get the data in same scale
scaler=StandardScaler()
numerical_data=df_cleaned[numerical_columns]
X_train_scaled= scaler.fit_transform(numerical_data)
X_test_scaled = scaler.transform(numerical_data)