In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [3]:
df =pd.read_csv(r"D:\machine learning\naive Bayes\weather_forecast.csv")

In [4]:
df.head()

    Outlook Temperature Humidity   Windy Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Mild     High    Weak  Yes
4      Rain        Cool   Normal    Weak  Yes

In [7]:
# probality of play
df['Play'].value_counts()

Play
Yes    9
No     5
Name: count, dtype: int64

In [9]:
p_yes=9/14
p_no=5/14
print(p_yes)
print(p_no)

0.6428571428571429
0.35714285714285715

In [10]:
pd.crosstab(df['Outlook'],df['Play'])

Play      No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
p_overcast_no=0/5
p_rain_no=2/5
p_sunny_no=3/5

p_overcast_yes=4/9
p_rain_yes=3/9
p_sunny_yes=2/9

In [12]:
pd.crosstab(df['Temperature'],df['Play'])

Play         No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [18]:
p_cool_no=1/5
p_hot_no=2/5
p_mild_no=2/5

p_cool_yes=3/9
p_hot_yes=2/9
p_mild_yes=4/9

In [19]:
pd.crosstab(df['Humidity'],df['Play'])

Play      No  Yes
Humidity
High       4    3
Normal     1    6

In [20]:
p_high_no=4/5
p_normal_no=1/5

p_high_yes=3/9
p_normal_yes=6/9

In [21]:
pd.crosstab(df['Windy'],df['Play'])

Play    No  Yes
Windy
Strong   3    3
Weak     2    6

In [22]:
p_strong_no=3/5
p_weak_no=2/5

p_strong_yes=3/9
p_weak_yes=6/9

In [26]:
# find probability of 
# outlook= sunny , temperature=hot,humidity=high,windy=weak
p_yes=p_yes*p_sunny_yes*p_hot_yes*p_high_yes*p_weak_yes
p_no=p_no*p_sunny_no*p_hot_no*p_high_no*p_weak_no

In [27]:
print(p_yes)
print(p_yes)

5.806315820033239e-05
5.806315820033239e-05

In [28]:
# not providing the right answer

In [29]:
## doing it with using sklearm

In [30]:
p_yes = df['Play'].value_counts()['Yes'] / len(df)
p_no = df['Play'].value_counts()['No'] / len(df)

In [31]:
outlook_table = pd.crosstab(df['Outlook'], df['Play'], normalize='columns')
temp_table = pd.crosstab(df['Temperature'], df['Play'], normalize='columns')
humidity_table = pd.crosstab(df['Humidity'], df['Play'], normalize='columns')
wind_table = pd.crosstab(df['Windy'], df['Play'], normalize='columns')

In [32]:
# Given conditions
outlook = "Sunny"
temperature = "Hot"
humidity = "High"
windy = "Weak"

# Conditional probabilities
p_sunny_yes = outlook_table.loc[outlook, 'Yes']
p_sunny_no = outlook_table.loc[outlook, 'No']

p_hot_yes = temp_table.loc[temperature, 'Yes']
p_hot_no = temp_table.loc[temperature, 'No']

p_high_yes = humidity_table.loc[humidity, 'Yes']
p_high_no = humidity_table.loc[humidity, 'No']

p_weak_yes = wind_table.loc[windy, 'Yes']
p_weak_no = wind_table.loc[windy, 'No']

In [33]:
# Final probability calculation
p_yes_final = p_yes * p_sunny_yes * p_hot_yes * p_high_yes * p_weak_yes
p_no_final = p_no * p_sunny_no * p_hot_no * p_high_no * p_weak_no

print(f"Probability of 'Yes' (Play): {p_yes_final:.6f}")
print(f"Probability of 'No' (Don't Play): {p_no_final:.6f}")

# Final classification
if p_yes_final > p_no_final:
    print("Final Decision: Play Tennis")
else:
    print("Final Decision: Don't Play")

Probability of 'Yes' (Play): 0.007055
Probability of 'No' (Don't Play): 0.027429
Final Decision: Don't Play